html {
  overflow-x: hidden;
}
/* h1 {
  text-shadow: rgb(255 255 255) 0px 0px 5px, rgb(255 255 255) 0px 0px 10px, rgb(225 227 230) 0px 0px 30px, rgb(225 227 230) 0px 0px 35px, rgb(225 227 230) 0px 0px 40px, rgb(225 227 230) 0px 0px 50px, rgb(225 227 230) 0px 0px 53px;
} */

@font-face {
  font-family: cyberdyne3dital;
  src: url("../fonts/cyberdyne3dital.ttf");
}
.nav-item {
  transition: 0.2s;
  color: #313131;
}
.nav-item:hover {
  font-size: 22px;
  transition: 0.2s ease-in-out;
}

@font-face {
  font-family: cyberdynehalfital;
  src: url("../fonts/cyberdynehalfital.ttf");
}

.cyberdynehalfital {
  font-family: cyberdynehalfital;
}

html,
body {
  scroll-behavior: smooth;
}
.floating-container {
  z-index: 9999;
  /* display: none; */
}

@font-face {
  font-family: cyberdyne3d;
  src: url("../fonts/cyberdyne3d.ttf");
}

@font-face {
  font-family: ZenDots-Regular;
  src: url("../fonts/ZenDots-Regular.ttf");
}

.ZenDots-Regular {
  font-family: ZenDots-Regular;
}

@font-face {
  font-family: cyberdynesuperital;
  src: url("../fonts/cyberdynesuperital.ttf");
}

body,
p,
.nav-item,
h2,
.ppp {
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: cyberdynegradital;
  src: url("../fonts/cyberdynegradital.ttf");
}

@font-face {
  font-family: cyberdyne;
  src: url("../fonts/cyberdyne.ttf");
}

.cyberdyne {
  font-family: cyberdyne;
}

.cyberdynegradital {
  font-family: cyberdynegradital;
}

.cyberdyne3dital {
  font-family: cyberdyne3dital;
}
.title {
  font-size: 3rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.cyberdynesuperital {
  /* font-family: cyberdynesuperital; */
  font-size: 18px;
}
.meet__team {
  font-size: 18px;
  font-weight: 300;
}

* {
  font-family: cyberdyne;
}

.cyberdyne3d {
  font-family: cyberdyne3d;
}

.content::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 125px;
  top: -50px;
  left: 0;
  background-color: #000000;
  transform: skewY(10deg);
}

.content::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 125px;
  top: -50px;
  right: 0;
  background-color: #313131;
  transform: skewY(-9deg);
}

.content::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 125px;
  top: -50px;
  left: 0;
  background-color: #313131;
  transform: skewY(9deg);
}

.content {
  background-color: #313131;
  color: #000000;
  height: 450px;
  padding-top: 130px;
  position: relative;
  /* border: 2px solid #000000; */
  width: 100%;
}

.menuFixed {
  position: fixed;
  top: 30%;
  left: 2%;
  z-index: +99999;
}

.banner {
  height: 700px;
  position: relative;
}

.menuFixed ul {
  border-left: 2px solid rgb(2, 2, 2);
  padding-left: 9px;
}

li {
  list-style: none;
}

.smNONE {
  display: none;
}

.bannerposit {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

body {
  background-color: rgb(238, 238, 238) !important;
}

.mtMinus {
  /* margin-top: -23rem; */
}

.mainPadding {
  padding: 0 6%;
}

.aboutUsImnage {
  width: 80%;
}

.bgAboutUs {
  background-color: rgb(238, 238, 238);
}

.galleriMain {
  border: 2px solid pink;
}

.galleryImage1 {
  max-width: 20%;
  flex: 0 0 20%;
}

.pinkBorder {
  /*  box-shadow: rgba(255,255,255,50) 0px 12px 28px 0px, rgba(255,255,255,50) 0px 2px 4px 0px, rgba(255,255,255,50) 0px 0px 0px 1px inset;
}

.borderPinkShadow {
/*  box-shadow: rgba(255,255,255,50) 0px 12px 28px 0px, rgba(255,255,255,50) 0px 2px 4px 0px, rgba(255,255,255,50) 0px 0px 0px 1px inset;
*/
}

.gallery2 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 4px;
}
#faq {
  max-width: 75vw;
  margin: auto;
}
.floating-container {
  display: none;
}
.phase-2__mobile {
  display: none;
}
.banner__mobile {
  display: none;
}
.mint__button{
  padding: 0.75rem 5rem;
  color: white;
  border: none;
  font-size: 16pt;
  border-radius: 10px;
  background-color: #ff1e1e;
  -webkit-animation-delay:2s;
  -webkit-animation-delay:calc(var(--animate-delay)*2);
  animation-delay: 2s;
  animation-delay: calc(var(--animate-delay)*2);
  transition: all 0.2s ease-in;
}
.mint__button:hover{
  background-color: #b80202;
}
@media screen and (max-width: 768px) {
  #particle {
    background-image: url("../images/bg_white.png") !important;
  }
  #faq {
    max-width: 100vw;
  }
  .logoImage {
    width: 235px;
    margin-top: 23px;
  }

  .banner {
    height: 242px;
    position: relative;
  }

  .logobannerImageMt {
    margin-top: -4rem;
  }

  .aboutUsImnage {
    width: 100%;
  }

  .widget-wrap {
    min-height: none !important;
  }

  .content {
    background-color: #313131;
    color: rgb(7, 7, 7);
    height: 244px;
  }

  .neonz {
    width: 100%;
  }

  div.alt-event::after {
    top: 20%;
    left: 5.5% !important;

    right: auto !important;
  }
  .phase-2 {
    display: none;
  }

  .floating-container,
  .phase-2__mobile,
  .banner__mobile {
    display: block;
  }

  div.right {
    left: 0% !important;
  }

  .gallery2 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    padding: 4px;
  }

  .flex__wrap {
    flex-direction: column;
  }

  div.alt-event {
    /* background-color: #000000; */
    border-radius: 6px;
    padding: 20px 68px !important;
    width: 100% !important;
  }
  .meet__team {
    flex-direction: column;
  }
  .gallery2 {
    margin-bottom: 30px;
  }

  .alt-vtl::before {
    content: "";
    /* box-shadow: rgb(255 255 255) 0px 0px 5px, rgb(255 255 255) 0px 0px 10px,
      rgb(225 227 230) 0px 0px 20px, rgb(225 227 230) 0px 0px 30px,
      rgb(225 227 230) 0px 0px 40px, rgb(225 227 230) 0px 0px 55px,
      rgb(225 227 230) 0px 0px 75px; */
    width: 5px;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8% !important;
  }

  .mainPadding {
    padding: 0 15px;
  }

  .smNONE {
    display: block;
  }

  .SMNONEBLOK {
    display: none;
  }

  .galleryImage1 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .mtMinus {
    margin-top: -14rem;
  }

  .flcrds {
    flex-direction: column;
  }

  .owl-dot {
    display: none !important;
  }

  .owl-prev {
  }

  #particle {
    height: 500px !important;
  }

  .bannerposit {
    height: 79% !important;
  }

  .logoImage {
    width: 298px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .menuFixed {
    display: none;
  }
}

#particle {
  background-image: url("../images/bg.png");
  position: relative;
  background-position: right; /* Center the image */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover; /* Resize the background image to cover the entire container */

  height: 777px;
  z-index: 0;
}

#overlay1 {
  /* position: relative; */
}

.owl-prev,
.owl-next {
  font-size: 53px !important;
  color: #000000 !important;
  margin-right: 23px;
}

.owl-nav {
  display: block !important;
  text-align: center;
}

.accordion .accordion-item {
  border-bottom: 1px solid #000000;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #000000;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000000;
  font-size: 1.15rem;
  font-size: 1.55rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #000000;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #000000;
  border: 1px solid #000000;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-family: Raleway, sans-serif;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 15em;

  background-color: rgb(235, 232, 232);
  padding: 10px 20px 10px 30px;
  transition: all 200ms linear;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
  color: #000000;
}
/* html {
  cursor: none !important;
  overflow-x: hidden;
}
.pointer {
  position: absolute;
  height: 480px; top:100px;
  width: 480px; left:50%;
  pointer-events: none;
  z-index: +9999999999999999999999999999;
}

.pointer img {
  width: 140px;
} */

/* #Cursor
================================================== */
.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  z-index: 4;
}
.cursor {
  background-color: #000000;
  height: 0;
  width: 0;
}
.cursor2,
.cursor3 {
  height: 50px;
  width: 50px;
  transition: all 200ms ease-out;
  background-position: center;
  background-size: 0 0;
}
.cursor2.hover,
.cursor3.hover {
  height: 220px;
  width: 320px;
  border: none;
  border-radius: 8px;
}
.cursor2 {
  border: 2px solid #000000;
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}
.cursor2.hover {
  background-size: cover;
  box-shadow: 0 0 0 rgba(16, 39, 112, 0.2);
}

body.logo-wrap .cursor2,
.cursor3 {
  background-image: none;
  height: 36px;
  width: 36px;
}
body.logo-wrap .cursor2.hover,
body.logo-wrap .cursor3.hover {
  height: 36px;
  width: 36px;
  transform: scale(2) translateX(-25%) translateY(-25%);
  border-radius: 50%;
  background-color: var(--yellow);
}

.hover-target {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--purple);
  transition: color 250ms ease;
}
.hover-target:before {
  position: absolute;
  content: "";
  height: 0;
  border-radius: 1px;
  bottom: 0;
  left: -10px;
  width: calc(100% + 20px);
  border-radius: 2px;
  display: block;
  background-color: var(--yellow);
  transition: height 250ms ease;
  mix-blend-mode: difference;
  opacity: 0.6;
}

.iconLink {
  transition: 0.2s;
}
.iconLink:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}
/* Raleway */
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
